<div class="layout layout--col gap--space-between">
  {% render "pollen_stats" with grid_class: "grid--cols-5", current: current %}
  {% render "pollen_chart" with hourly: hourly, trmnl: trmnl, hide_legend: true %}
</div>
{% render "pollen_title_bar" with compact: false, trmnl: trmnl %}
