<div class="layout layout--col gap--space-between">
  {% render "pollen_stats" with grid_class: "grid--cols-3", current: current %}
</div>
{% render "pollen_title_bar" with compact: true, trmnl: trmnl %}
